.container {}

h2 {
    color: rgb(23, 118, 182);
}

hr {
    background-color: rgb(23, 118, 182);
}

table td {
    border: 0px !important;
}

input,
select {
    border: 1px solid rgb(23, 118, 182);
}

.jumbotron {
    background-color: rgb(23, 118, 182);
    color: white;
}

.fa-star-of-life {
    color: red;
    font-size: 10px;
}

.submit {
    float: right;
    margin-right: 20px;
    background-color: rgb(23, 118, 182);
    color: white;
}